<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<section name="GAParameters">
		<entry key="CrossoverRate" value="80"/>
		<entry key="MutationRate" value="20"/>
		<entry key="PopulationSize" value="5"/>
	</section>
	<section name="MySqlConnectionInfo">
		<entry key="URLConnectionString" value="jdbc:mysql://localhost:3306/dbgatt"/>
		<entry key="UserConnection" value="root"/>
		<entry key="PasswordConnection" value=""/>
	</section>
	<section name="XMLWriterInfo">
		<entry key="FilePath" value="bin/org/gatt/constraint/defined/ConstraintsDefinition.xml"/>
		<entry key="DirPath" value="bin/org/gatt/constraint/defined/"/>
	</section>
	<section name="TreeKeys">
		<entry key="Session" value="Sesión"/>
		<entry key="usedHours" value="Horas necesarias"/>
		<entry key="room" value="Aula"/>
		<entry key="type" value="Tipo"/>
		<entry key="number" value="Número"/>
		<entry key="capacity" value="Capacidad"/>
		<entry key="hour" value="Hora"/>
		<entry key="representation" value="Horario"/>
		<entry key="group" value="Grupo"/>
		<entry key="number" value="Número"/>
		<entry key="numStudents" value="Número de estudiantes"/>
		<entry key="subject" value="Materia"/>
		<entry key="fac" value="Facultad"/>
		<entry key="dep" value="Departamento"/>
		<entry key="name" value="Nombre"/>
		<entry key="letterCode" value="Código de letras"/>
		<entry key="credits" value="Créditos"/>
		<entry key="code" value="Código"/>
		<entry key="restrictions" value="Restricciones"/>
	</section>
	<section name="ConstraintCompilerOptions">
		<entry key="OutputDir" value="bin"/>
	</section>
</configuration>
