<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<section name="GAParameters">
		<entry key="PopulationSize" value="500"/>
		<entry key="CrossoverRate" value="80"/>
		<entry key="MutationRate" value="20"/>
	</section>
	<section name="MySqlConnectionInfo">
		<entry key="URLConnectionString" value="jdbc:mysql://localhost/gatt"/>
		<entry key="UserConnection" value="gatt"/>
		<entry key="PasswordConnection" value="gatt"/>
	</section>
</configuration>
